<!DOCTYPE html>
<html>

    <head>
        <title>Gym Manager</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/instructors">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script> 
    </body>

</html>